
.carousel-item {
    height: 100vh;
    background-size: cover;
    background-position: center;
  }
  
  .carousel-caption {
    bottom: 20%;
  }
  
  .carousel-caption h1 {
    font-size: 3rem;
    font-weight: bold;
  }
  
  .carousel-caption p {
    font-size: 1.25rem;
  }
  .carousel-inner{
    width: 100%;
    height: 400px;
  }
  .footer {
    display: block;
    position: relative;
    width: 100%;
    margin-top:200px;
    padding: 10px ;
  }

  .carousel-item {
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative; 
  }
  
  .carousel-caption {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    z-index: 2;
    text-align: center;
  }
  
  .custom-btn {
    z-index: 3; 
    background-color: #007bff;
    padding: 10px 20px;
    border-radius: 5px;
  }
  
  .custom-btn:hover {
    background-color: #0056b3;
    color: #fff;
  }
  .me-2{
    margin-left: 900px;
  }
  .carousel-caption{
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
  }
  .footer2{
    float:right;
    margin-right:5%;
  }
  .footer1{
    float:left;
    margin-left:5%;
  }
  .navbar{
    margin-bottom:-5px;
  }